import { defineComponent } from "@vue/composition-api";
import { usePresenter } from "./presenter";

const Index = defineComponent({
  setup() {
    const presenter = usePresenter();
    const { model } = presenter;

    return { model, presenter };
  },
  render() {
    return <div>vue2 mvp</div>;
  }
});
export default Index;
